.logo > img {
  width: 45px;
  height: 45px;
}

.searchButton {
  border: none;
  background: transparent;
}

.searchBar {
  width: 34%;
  display: inline-flex;
}
.searchBar form > button {
  font-size: 20px;
}
.searchBar form > button i {
  font-weight: 600;
}
.searchBar form > input {
  border: none;
}
.searchBar .form-control:focus {
  color: black;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: none;
  border-bottom: 1px solid #f3b27c;
  border-radius: 0;
}
@media screen and (min-width: 420px) {
  .searchBar {
    width: 100%;
  }
  .searchBar form {
    display: contents;
  }
  .searchBar .cart {
    display: none;
  }
}

.cart > i {
  font-weight: 400;
  vertical-align: -webkit-baseline-middle;
  font-size: 25px;
}

.login {
  padding: 12px;
}

.navFont {
  font-weight: bold;
}

#body-container-left .filterBy {
  color: rgba(194, 187, 187, 0.849);
}

#body-container-right #card-container .card {
  width: 300px;
  height: 365px;
  border-radius: 0;
  border: none;
}
#body-container-right #card-container .card .card-bottom-left {
  width: 60%;
  height: 30%;
  background-color: white;
  position: absolute;
  bottom: 0;
}
#body-container-right #card-container .card .card-bottom-left .productName0 {
  font-weight: 700;
  font-size: 15px;
}
#body-container-right #card-container .card .card-bottom-left .productName1 {
  color: rgba(167, 162, 162, 0.836);
  font-size: 12px;
}
#body-container-right #card-container .card .card-bottom-left .ratings {
  font-size: 10px;
  position: absolute;
  bottom: 0;
}
#body-container-right #card-container .card .card-bottom-right {
  width: 40%;
  height: 20%;
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}
#body-container-right #card-container .card .card-bottom-right ._price {
  font-weight: 700;
  font-size: 15px;
  padding-right: 3px;
}
#body-container-right #card-container .card .card-bottom-right .addToCart {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 3px;
  cursor: pointer;
}

#accordionExample .card {
  border-radius: 0;
  border: none;
}
#accordionExample .card .card-header {
  background-color: white;
  border-bottom: 1px solid #b1adad;
}
#accordionExample .card .card-header button {
  text-decoration: none;
  color: #333232;
  text-align: left;
  font-weight: 500;
}
#accordionExample .card .card-header button i {
  float: right;
}
#accordionExample .card .card-body #price-rangeMin {
  height: 2px;
  color: rgba(165, 155, 155, 0.664);
}
#accordionExample .card .card-body #price-rangeMax {
  height: 2px;
  color: rgba(165, 155, 155, 0.664);
}
#accordionExample .card .card-body #minValue {
  font-size: 13px;
  text-align: left;
  font-weight: 700;
}
#accordionExample .card .card-body #maxValue {
  font-size: 13px;
  text-align: right;
  font-weight: 700;
}

#imageDetail {
  width: 100%;
  height: 450px;
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  #imageDetail {
    width: 100%;
  }
}
#imageDetail #imageContainer {
  margin: auto;
  width: 90%;
}
#imageDetail #imageContainer #imageContain {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  object-fit: contain;
}
@media screen and (min-width: 575px) and (max-width: 620px) {
  #imageDetail #imageContainer #imageContain {
    max-width: 250px;
  }
}
#imageDetail button:focus {
  outline: none;
}
#imageDetail .rightArrow {
  float: right;
  height: 50px;
  border: none;
  background-color: #fff3ddc2;
  position: relative;
  top: 45%;
  width: 5%;
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  #imageDetail .rightArrow {
    position: absolute;
    bottom: 50%;
    right: 0;
  }
}
#imageDetail .leftArrow {
  float: left;
  height: 50px;
  border: none;
  background-color: #fff3ddc2;
  position: relative;
  top: 45%;
  width: 5%;
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  #imageDetail .leftArrow {
    position: absolute;
    bottom: 50%;
    left: 0;
  }
}

#imageInQue {
  height: 50px;
  width: 165px;
}
#imageInQue .nextImages {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#detailsBox {
  width: 250px;
  margin-top: 150px;
  height: 340px;
  font-family: sans-serif;
}
@media screen and (min-width: 420px) and (max-width: 620px) {
  #detailsBox {
    margin: auto;
    margin-top: 100px;
    width: 220px;
  }
}
#detailsBox .light-text {
  color: #b4b4b4;
  font-size: 12px;
}
#detailsBox h3 {
  color: #0a1c2a;
}
#detailsBox p {
  color: #434344;
  font-weight: 500;
  font-size: 12px;
  text-align: justify;
}
#detailsBox .colorAvailable {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
}
#detailsBox .colorAvailable .fas.fa-check {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 7px;
  left: 3px;
}
#detailsBox #priceHolder {
  display: flex;
}
#detailsBox #priceHolder #priceValue {
  font-weight: 700;
  width: 35%;
}
#detailsBox #priceHolder #priceValue span {
  vertical-align: -webkit-baseline-middle;
}
#detailsBox #priceHolder #buyNow {
  width: 40%;
}
#detailsBox #priceHolder #buyNow button {
  border: none;
  background-color: #032032;
  color: white;
}
#detailsBox #priceHolder #addToCart {
  color: #032032;
  font-size: 18px;
  width: 25%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
