#imageDetail{
    width: 100%;
    height: 450px;
    @media screen and (min-width: 420px ) and ( max-width:620px ) {
        width: 100%;
        // height: 400px;
    }
    #imageContainer{
        margin: auto;
        width: 90%;
        #imageContain{
            vertical-align: middle;
            border-style: none;
            width: 100%;
            object-fit: contain;     
            @media screen and (min-width: 575px ) and ( max-width:620px ) {
                max-width: 250px;;
            }       
        }
    }
   
    button:focus{
        outline: none;
    }
    .rightArrow{
        float: right;
        height: 50px;
        border: none;
        background-color: #fff3ddc2;
        position: relative;
        top: 45%;
        width: 5%;
        @media screen and (min-width: 420px ) and ( max-width:620px ) {
            position: absolute;
            bottom: 50%;
            right: 0;
          }
    }
    .leftArrow{
        float: left;
        height: 50px;
        border: none;
        background-color: #fff3ddc2;
        position: relative;
        top: 45%;
        width: 5%;
        @media screen and (min-width: 420px ) and ( max-width:620px ) {
            position: absolute;
            bottom: 50%;
            left: 0;
          }
    }
}
#imageInQue{
    height: 50px;
    width: 165px;
    .nextImages{
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }
}
#detailsBox{
    @media screen and (min-width: 420px ) and ( max-width:620px ) {

        margin: auto;
        margin-top: 100px;
        width: 220px;
      }
    width: 250px;
    margin-top: 150px;
    height: 340px;
    font-family: sans-serif;
    .light-text{
        color: #b4b4b4;
        font-size: 12px;
    }
    h3{
        color: #0a1c2a;
    }
    p{
        color: #434344;
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
    }
    .colorAvailable{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block;
        .fas.fa-check{
            color: white;
            font-size: 9px;
            position: relative;
            bottom: 7px;
            left: 3px;
        }
    }
    #priceHolder{
        display: flex;
        #priceValue{
            font-weight: 700;
            width: 35%;
            span{
                vertical-align: -webkit-baseline-middle;
            }
        }
        #buyNow{
            button{
                border: none;
                background-color: #032032;
                color: white;
    
            }
            width: 40%;
        }
        #addToCart{
            color: #032032;
            font-size: 18px;
            width: 25%;
            text-align: center;
        }
    }
    
}