<nav class="navbar navbar-expand-lg navbar-light p-1 pl-2 navFont">
    <a class="navbar-brand logo" href="#"><img src="../img/icon/logo.PNG" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="navBarLeft">
        <li class="nav-item active pl-2">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active pl-2">
          <a id="shop" class="nav-link" href="#">SHOP</a>
        </li>
        <li class="nav-item active pl-2">
          <a class="nav-link" href="#">MAGAZINE</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <div class="searchBar" id="navBarRight">
        <form class="form-inline my-2 my-lg-0">
          <button class="searchButton" type="submit"><i class="fas fa-search"></i></button>
          <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
        </form>
        <span class="cart pt-1 pl-3"><i class="fab fa-opencart"></i></span>
        <span class="pl-4 login">LOGIN</span>
      </div>
    </div>
  </nav>