<div id="detail-container" class="row m-0">
    <div class="col-sm-7">
        <div id="imageDetail" class="row m-0">
            <button id="leftArrow" class="leftArrow"><i class="fas fa-arrow-left"></i></button>
            <div id="imageContainer">

            </div>
            <button id="rightArrow" class="rightArrow"><i class="fas fa-arrow-right"></i></button>
        </div>
        <div id="imageInQue" class="row m-auto">

        </div>
    </div>
    <div class="col-sm-5">
        <div id="detailsBox">
            <span id="item-type" class="light-text" >info</span>
            <h5 id="item-name">Header</h5>
            <p id="item-details"></p>
            <span class="light-text">Color</span>
            <div id="colorHolder"></div>
            <span class="light-text">Price per unit</span>
            <div id="priceHolder">
                <div id="priceValue"></div>
                <div id="buyNow"><button class="p-1 pl-3 pr-3">Buy Now</button></div>
                <div id="addToCart"><i class="fas fa-cart-plus"></i></div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/details.js"></script>